/* The progress bar at the top of the page */
.progress-bar {
    position: fixed;
    top: 60px;
    left: 0;
    height: 5.5px;
    background-color: #32CD32; /* Set your preferred color here */
    z-index: 1000; /* Ensures it's on top of other content */
    transition: width 0.25s ease-out; /* Smooth transition as the scroll bar moves */
}
